[submodule "cozytaskpool"]
	path = cozytaskpool
	url = https://github.com/indiscipline/cozytaskpool
[submodule "cozylogwriter"]
	path = cozylogwriter
	url = https://github.com/indiscipline/cozylogwriter
[submodule "cozywavparser"]
	path = cozywavparser
	url = https://github.com/indiscipline/cozywavparser
	branch = main
